* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body > div > div {
  text-align: center;
  align-items: center;
  margin: 50px;
}
p {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px;
}
button {
  padding: 20px 50px;
  margin: 10px;
}
div.question {
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(48, 190, 44, 1) 24%,
    rgba(253, 29, 229, 1) 50%,
    rgba(51, 63, 252, 1) 78%,
    rgba(252, 176, 69, 1) 100%
  );
  border: 2px solid yellow;
  box-shadow: 0 0 50px green;
}
img {
  margin-top: 30px;
}
